<header class="bg-success" style="position: fixed; width: 100%; z-index: 1;">
    <div class="row text-white">
        <div class="col-md-4 col-6 p-4 pl-5">
            <a href="/advisor" style="text-decoration: none; color: aliceblue;">
                <h1><i>Staff Portal</i></h1>
            </a>
        </div>

        <div class="col-md-0">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle mt-4" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Role
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#" onclick="changeRole('faculty')">Faculty</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item">Staff Advisor</a>
                </div>
            </div>
        </div>


        <div class="col-md-4 col-3">
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle mt-4" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     View
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/advisor">Student Details</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/advisor/getMarks">Marks</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/advisor/getAttendance">Attendance</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-3 my-auto">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{#if user}}
                                    {{user.name}}
                                {{/if}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {{#if user}}
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                {{/if}}
                            </div>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

<script>
    function changeRole(role) {
        fetch('/advisor/changeRole', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ role: role })
        })
        .then(response => {
            if (response.ok) {
                if (role === 'faculty') {
                    window.location.href = '/faculty'; // Redirect to faculty portal
                } else {
                    location.reload(); // Reload the page for other roles
                }
            } else {
                console.error('Failed to change role');
            }
        })
        .catch(error => {
            console.error('Error changing role:', error);
        });
    }
</script>
