
    <header class="bg-success" style="position: fixed; width: 100%; z-index: 1;">
        <div class="row text-white">
            <div class="col-md-6 col-9 p-4 pl-5">
                <a href="#sign_in-section" style="text-decoration: none; color: aliceblue;"><h1><i>LoginPortal</i></h1></a>
            </div>
        </div>
    </header>
    <section id="sign_in-section" style="padding-top: 12em;">
        <div class="container">
            <div class="row bg-white">
                <div class="col-md-8 col-9 offset-2 mb-4">
                    <div class="card shadow-lg rounded text-white" style="height: 25rem;">
                        <div class="card-header text-center bg-primary">
                            <b><i>FACULTY LOGIN</i></b>
                        </div>
                        <div class="card-body bg-light p-5 text-dark">
                        <form action="/faculty/login" method="post" enctype="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <label for="exampleInputName1"><i>User Name</i></label>
                                    <input type="text" class="form-control" id="exampleInputName1" name="username" placeholder="Enter User Name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1"><i>Password</i></label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                                </div>
                                <div class="card-block text-center">
                                    <button type="submit" class="btn btn-primary"><i>login</i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-success" style="height: 10rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center text-dark"><hr>
                    <b>Copyright Policy</b><hr>
                    <b>This site is designed and developed by the members of Group B2</b>
                </div>
            </div>
        </div>
    </footer>
