
    <section id="sign_in-section" style="padding-top: 13em;">
        <div class="container">
            <div>
                <h1 class="text-left">STUDENT MARKS</h1>
            </div>
            <hr>
            <div class="row m-5">
                <form>
                    <div class="row">
                        <div class="col">
                            <label><i>COURSE :</i></label>
                        </div>
                        <div class="col">
                            <input type="text" style="border-width: 5px solid; border-radius: 6px;">
                        </div>
                        <div class="row">
                            <div class="col">
                                <label><i>SEARCH :</i></label>
                            </div>
                            <div class="col">
                                <input type="text" style="border-width: 5px solid; border-radius: 6px;" placeholder="Students">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-9 col-12">
                    <div class="table">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ROLL NO</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">DEPT</th>
                                    <th scope="col">SEM</th>
                                    <th scope="col">INTERNAL MARKS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">24</th>
                                    <td>CICIL VARGHESE</td>
                                    <td>CSE</td>
                                    <td>S6</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">27</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">12</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">40</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th scope="row">25</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>
  